@page "/game/{GameIdText}"
@using FateCoordinator.Contracts
@using FateCoordinator.Extensions
@using FateCoordinator.Repositories
@using FateCoordinator.Services

@inject IGameRepository gameRepository;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject IJSRuntime JS;
@inject NavigationManager NavManager;
@inject IDieRollerService dieRollerService;
@inject IValidator validator
@inject IStressTrackFactory stressTrackFactory;

<AuthorizeView>
    <Authorized>
        <h5><a class="btn btn-link text-white" @onclick="(async)=>UpdateFieldAsync(nameof(GameDto.Name))">@GameDto.Name</a></h5>
        <p>Genre(s): <a class="btn btn-link text-white" @onclick="(async)=>UpdateFieldAsync(nameof(GameDto.Genre))">@GameDto.Genre</a></p>
        <p>Description: <a class="btn btn-link text-white" @onclick="(async)=>UpdateFieldAsync(nameof(GameDto.Description))">@GameDto.Description</a></p>
    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public string GameIdText { get; set; } = "";

    private Guid GameId => Guid.Parse(this.GameIdText);

    public GameDto GameDto { get; set; } = new GameDto();

    protected override async Task OnInitializedAsync()
    {
        this.GameDto = await this.gameRepository.GetAsync(await this.GetUserIdAsync(), this.GameId);
        await base.OnInitializedAsync();
    }

    private async Task<Guid> GetUserIdAsync()
    {
        return await authenticationStateProvider.GetUserIdAsync();
    }

    public async Task SaveAsync()
    {
        await this.gameRepository.SaveAsync(await this.GetUserIdAsync(), this.GameDto);
    }

    public async Task DeleteAsync()
    {
        if(await JS.Confirm("Are you sure you want to delete this character?"))
        {
            await this.gameRepository.DeleteAsync(await this.GetUserIdAsync(), this.GameId);
            this.NavManager.NavigateTo("/games");
        }
    }

    public async Task UpdateFieldAsync(string fieldName)
    {
        var text = await JS.InvokeAsync<string>("prompt", $"New {fieldName}");

        if(string.IsNullOrWhiteSpace(text)){
            return;
        }

        this.GameDto.GetType().GetProperty(fieldName).SetValue(this.GameDto, text);
        await this.SaveAsync();
    }
}
