@page "/"

<AuthorizeView>
    <Authorized>
        CHARACTERS
        GAMES
    </Authorized>
    <NotAuthorized>
        <div class="unauthed-home">
            <h3>Welcome to FATE Coordinator</h3>
            <jumbotron>
                The purpose of this site is to manage games played in the FATE Core/Condensed tabletop RPG system.  Please <a href="Identity/Account/Login">log in</a> or <a href="Identity/Account/Register">register</a> to start using the application.  
            </jumbotron>
        </div>
    </NotAuthorized>
</AuthorizeView>
