<AuthorizeView>
    <Authorized>
        
        <div class="nav-item px-3 auth-links">
            <NavLink href="Identity/Account/Manage" class="auth-links">
                Hello, @context.User.Identity?.Name!
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink><form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link auth-links">Log out</button>
                </form>
            </NavLink>
        </div>

    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
