@inherits LayoutComponentBase

<PageTitle>FateCoordinator</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

        <div class="bottom-row px-4 auth">
            <LoginDisplay />
        </div>
    <footer>
    </footer>